.input{

    width: 40%;
    border-radius:8px;
    border: 2px solid blue;
    padding: 10px 15px;
    box-shadow: 1px 3px 9px rgba($color: #000000, $alpha: 0.25);
    &:focus{
        outline: none;
    }
}

.bnt{

    box-shadow: 1px 3px 9px rgba($color: #000000, $alpha: 0.25)

}